<div class="container pb-3 mb-3 ">
<h1 class="pb-3 mb-3 display-1 text-white">{{title}}</h1>
</div>

<div class="container p-3">



<div class="container">
  <div class="row">
    <div class="col-sm p-3 shadow-sm bg-light" style="min-height: 90vh;">
      Side
    </div>
    <div class="col-sm-9 p-3 shadow-sm bg-white" style="min-height: 90vh;">
      Main
    </div>
  </div>
</div>

<div style="padding: 12vh 0"></div>


<div class="container">
  <div class="row shadow-sm bg-light">
    <div class="col-sm p-3">
    Menu
    </div>
  </div>
  <div class="row">
    <div class="col-sm p-3 shadow-sm bg-light" style="min-height: 90vh;">
      Side
    </div>
    <div class="col-sm-9 p-3 shadow-sm bg-white" style="min-height: 90vh;">
      Main
    </div>
  </div>
  <div class="row shadow-sm bg-light">
    <div class="col-sm py-1 px-3 small">
    Status
    </div>
  </div>
</div>





</div>
